<body>
  <div class="parent clearfix">
    <div class="bg-illustration">
  
      <div class="burger-btn">
        <span></span>
        <span></span>
      </div>
    </div>
      <div class="login">
        <div class="container">
          <h1>Login</h1>
          <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <input type="email" formControlName="email" placeholder="E-mail Address">
              <input type="password" formControlName="password" placeholder="Password">
  
              <div class="remember-form">
                <input type="checkbox">
                <span>Remember me</span>
              </div>
  
              <div class="remember-form">
                  <span><a  routerLink="/register">Register</a></span>
                </div>
  
              <button type="submit">Login</button>
  
            </form>
          </div>
      
        </div>
        </div>
    </div>
</body>